/*
https://ucfswe.org/about/
http://www.morganstanley.com/about-us
https://swe.berkeley.edu/
*/


html, body {
    margin: 0;
    height: 100%;
    color: #4E557E;
}


/* NAVIGATION BAR*/

#navbar{
  background-color: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index:999;
  left: 0;
  right: 0;
  opacity: .97;
  transition: top 0.3s;
  padding-top: 10px;
  padding-bottom: 5px;
}

.solid{
  background-color: #56068c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transparent{
  background-color: none;
}

.logo-link{
  padding: 7px 30px 7px 20px;
}

.swe-logo{
  height: 60px;
  padding: 0;
  border: 0px;
  margin:0px;
}

/*Toggled Menu*/
.toggleMenu{
  display: none;
}

.dropbtn {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*Nav Links*/
.nav-pages{
  align-self: center;
  margin-right: 15px;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-left: 310px;
    flex-wrap: wrap;
}

.nav-item a{
  font-size: 18pt;
  font-weight: bolder;
  padding-right: 50px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: center;
}

.nav-item:hover a{
  color: #DCDCDC;
}

button .nav-item{
  font-size: 20pt;
  padding-right: 60px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: center;
}



/* FLOATING BOX*/
.bg-image{
  background: url(https://images.ctfassets.net/2lppn7hwgzta/0UO0LAOSqxbq6D4fSVQUt/99a1e024944dce5c1312be6de28c8138/New_York_Race_Location.jpg?fm=jpg&fl=progressive&q=85&w=1920);/*./Images/tandon.jpg);*/
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 100%;
  justify-content: center;
  display: flex;
}

.middle-ground{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

.opaque-bg{
  background: rgba(255, 255, 255, .75);
  padding: 30px;
}

.boxed{
  height:225px;
  width: 225px;
  padding: 5px;
  align-items: center;
  align-content: center;
  padding: 0px;
}

.boxed-text{
  text-align: center;
  font-size: 25pt;
  font-family: 'Carme', sans-serif;
  color: white;
  height:216px;
  width: 215px;
  padding: 4px;
  align-self: center;
  line-height: 55pt;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 4px 5px;
  border: 18px solid rgba(255, 255, 255, .75);
  border-left: 3px solid rgba(255, 255, 255, .75);
  letter-spacing: .5pt;
}




/* body */
body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.first-section{
  margin: 0;
  padding: 10pt;
  text-align: center;
  padding: 8% 50px;
  color: #4E557E;
}


.first-sect-header{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 55pt;
  padding: 0px;
  font-weight: 550;
  line-height: 70px;
  letter-spacing: 1.5pt;
}


.mission-statement{
  width: 100%;
  border: none;
  font-size: 50pt;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: .9;
  letter-spacing: 3pt;
  padding: 20px;
}


.first-sect-body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24pt;
  color: darkgray;
  padding: 20pt 100pt;
  line-height: 35pt;
  text-align: justify;
}

#swe-link{
  padding: 8px;
  color: #4E557E;
  font-size: 26pt;
  text-decoration: inherit;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

#swe-link:hover {
  color: inherit;
}

.parallax-section{
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 400px;
  justify-content: center;
  display: flex;
}

.second-section{
  background-color: #F5F5F5;

}

.second-sect-intro{
  padding: 40px;
  text-align: center;
}

.subtext{
  font-size: 40pt;
  font-family: 'Open Sans Condensed', sans-serif;
}

.second-sect-header{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 55pt;
  padding: 0px;
  font-weight: 550;
  line-height: 70px;
  letter-spacing: 1.5pt;
}

.sub-header{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20pt;
  padding: 0px;
  color: darkgray;
  letter-spacing: 1pt;
  font-weight: bolder;
}

.second-sect-body{
  display: flex;
  justify-content: center;
}

.card{
  /*border: 2px solid #4E557E;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;*/
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 10px;
  height: 500px;
}

.card img{
  height: 275px;
  width: 380px;
}

.card-header{
  padding: 10px;
  text-align: center;
  font-size: 30pt;
}

.card-body{

}





.short{
  font-size: 50pt;
}

.tall{
  font-size: 140%;
}


@media screen and (max-width:1200px){
  .nav-pages{
    display: none;
  }

  .first-sect-header{
    line-height: normal;
  }

  .toggleMenu{
    display:flex;
    font-size: 20pt;
    padding: 15px 50px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
