/*
https://ucfswe.org/about/
http://www.morganstanley.com/about-us
https://swe.berkeley.edu/
*/


#navbar{
  background-color: #56068c;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index:999;
  left: 0;
  right: 0;
  opacity: .97;
  transition: top 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html, body {
    margin: 0;
    height: 100%;
}


.logo-link{
  padding: 7px 30px 7px 20px;
}


.swe-logo{
  height: 60px;
  padding: 0;
  border: 0px;
  margin:0px;
}


.bg-image{
  background: url(./Images/tandon.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 800px;
  justify-content: center;
  display: flex;

}


/* Floating box*/
.opaque-bg{
  background: rgba(255, 255, 255, .75);
  padding: 30px;
}

.boxed-text{
  text-align: center;
  font-size: 27pt;
  font-family: 'Carme', sans-serif;
  color: white;
  height:225px;
  width: 225px;
  padding: 1px;
  letter-spacing: 0px;
  align-self: center;
  line-height: 55pt;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 4px 5px;
  border: 17px solid rgba(255, 255, 255, .75);
  letter-spacing: .5pt;
}

.boxed{
  height:225px;
  width: 225px;
/*border-left: 2px solid #57068c;*/
  padding: 5px;
  align-items: center;
  align-content: center;
  padding: 0px;

}


.middle-ground{
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}


/*Toggled Menu*/
.toggleMenu{
  display: none;
}

.dropbtn {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

button .nav-item{
  font-size: 20pt;
  padding-right: 60px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
}

/* Full Screen Menu*/
.nav-pages{
  align-self: center;
  margin-right: 15px;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-left: 310px;
    flex-wrap: wrap;
}

.nav-item a{
  font-size: 15pt;
  font-weight: bolder;
  padding-right: 50px;
  color: white;
  text-decoration: none;
  font-family: 'Carme', sans-serif;
  justify-content: center;
}

.nav-item:hover a{
  color: #DCDCDC;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.first-section{
  margin: 0;
  padding: 10pt;
  text-align: center;
  padding:10% 150px 10%
}

.first-sect-header{
  font-family: 'Just Another Hand', cursive;
  font-size: 80pt;
  padding: 0px;
  letter-spacing: 5pt;
  line-height: 60pt;
  font-weight: 50;
}

.short{
  font-size: 70pt;
}

.tall{
  font-size: 140%;
}

.subtext{
  font-family: 'Carme';
  font-size: 24pt;
  color: darkgray;
  letter-spacing: 1pt;
}

.first-sect-pic{
  padding: 70px;
}

.first-sect-body{
  font-family: 'Carme';
  font-size: 26pt;
  color: darkgray;
  letter-spacing: 1pt;
  line-height: 40pt;
  padding-top: 20pt;
}

.mission-statement{
  color: #56068c;
  font-family: 'Carme';
  font-size: 70pt;
  line-height: 45px;
  font-weight: bolder;
  letter-spacing: 2pt;
  padding-top: 80px;
  text-shadow: 4px 4px darkgray;
}

.small-button{
  border-radius: 5em;
  border: 2px solid;
  display: inline-block;
  height: 3.33333em;
  line-height: 3.1;
  padding: 0 1.5em;
  width: auto;
  cursor: pointer;
  border-color: #ccc;
  border-width: 2px!important;
  color: #9e9e9e;
  font-size: 18px;
  height: 3.33333em;
  border-radius: 2.77778em;
}

.parallax-section{
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 600px;
  justify-content: center;
  display: flex;
}

@media screen and (max-width:1200px){
  .nav-pages{
    display: none;
  }

  .first-sect-header{
    line-height: normal;
  }

  .toggleMenu{
    display:flex;
    font-size: 20pt;
    padding: 15px 50px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
